
header {
    background-color: #ffffff;
    color: rgb(11, 165, 26);
    text-align: center;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre portée */
    left: 0;
}



/*-------------- CSS POUR LE BODY---------------- */

body, html {
    margin: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/*-------------- CSS POUR LE FOOTER---------------- */

footer {
    background-color: #edecec; 
    position: fixed; /* Position fixée à l'écran */
    bottom: 0; /* En bas de la page */
    justify-content: space-between; /* Espacement équivalent entre les éléments */
    align-items: center; /* Centrage vertical */
    padding: 20px; /* Espacement intérieur */
    display: flex;
    left: 150px;
    right: 0;
}



.footer-nav ul { /* Liste du footer */
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-nav li { /* Élément de la liste du footer */
    margin-bottom: 10%;
    text-align: center;
}

.footer-nav a { /* Lien du footer */
    text-decoration: none;
    color: #565252;
    font-size: 16px;   
}

.footer-nav a:hover { /* Lien au survol */
    text-decoration: underline;
    color: rgb(11, 165, 26);
}

.footer-message { /* Message du footer */
    background-color: #d7d7d7;
    padding: 18px;
    margin: 0 20px; /* Marge à gauche et à droite */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.footer-message p { /* Paragraphe du message */
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.footer-message button { /* Bouton du message */
    padding: 10px 20px;
    background-color: rgb(237, 239, 237);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.footer-message button:hover { /* Bouton du message au survol */
    background-color: rgb(11, 165, 26);
    color: white;
}

.footer-contact { /* Contact du footer */
    text-align: right;
    padding: 18px;
}

.footer-contact p { /* Paragraphe du contact */
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.footer-branding { /* Logo du footer */
    position: absolute;
    bottom: 5px; /* En bas du footer */
    left: 50%; /* Au milieu du footer */
    transform: translateX(-80%); /* Décalage de 75% de la largeur du logo */    
    font-size: 10px;
    font-weight: normal;
    color: #565252;
    text-align: center;
}

.footer-branding p { /* Paragraphe du logo */
    margin: 0;
}


/*-------------- CSS POUR LA SIDEBAR---------------- */

.sidebar {
    height: 100%; /* Hauteur totale */
    width: 150px; /* Largeur de la sidebar */
    position: fixed; /* Position fixée à l'écran */
    z-index: 1; /* Reste au-dessus du contenu */
    top: 0; /* En haut de la page */
    left: 0; /* À gauche de la page */
    background-color: #dfdede; /* Couleur de fond */
    overflow-x: hidden; /* Cache la barre de défilement horizontale */
    padding-top: 20px; /* Espacement au-dessus */
    display: flex; 
    flex-direction: column; /* Alignement vertical */
    justify-content: center; /* Centrage vertical */
    align-items: center; /* Centrage horizontal */
}

.sidebar a { /* Lien de la sidebar */
    writing-mode: vertical-rl; /* Écriture verticale */
    transform: rotate(180deg); /* Tourne le texte pour qu'il soit lu de haut en bas */
    text-decoration: none; /* Pas de soulignement */
    color: #565252; /* Couleur du texte */
    font-size: 20px; /* Taille du texte */
    margin: 50px 0; /* Espacement entre les liens */
    font-weight: bold; /* Police en gras */
}

.sidebar a:hover { /* Lien de la sidebar au survol */
    color: rgb(11, 165, 26); /* Couleur du texte au survol */
}


/*-------------- CSS POUR LE CONTENU---------------- */

.content{ 
    margin-left: 150px; /* Marge à gauche équivalente à la largeur de la sidebar */
    padding: 20px;
}